@{
    ViewData["Title"] = "ResultadoOperacao";
}

<div class="text-center">
    <h1 class="display-4">Resultado da @ViewBag.operacao</h1>
    <p>A @ViewBag.operacao de @ViewBag.Num1 @ViewBag.operador @ViewBag.Num2 é igual a @ViewBag.Resultado</p>
</div>